<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add  Profile</h1>
    <form action="/addToProfile/<%= data.id %>" method="post">
        <p>First Name </p>
        <input type="text" value="<%= data.firstName && data.firstName %>" name="firstName">
        <p>Last Name</p>
        <input type="text" value="<%= data.lastName && data.lastName %>" placeholder="example: Simanullang" name="lastName">
        <p>Age</p>
        <input type="number" value="<%= data.age && data.age %>" placeholder="example: 17" name="age">
        <p>Phone</p>
        <input type="text" value="<%= data.phone && data.phone %>" placeholder="example: 0821...." name="phone">
        <br><br>
        <button type="submit">Save</button>
    </form>
</body>
</html>
<%= console.log(data); %>